<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type ="text/css" href="../css/style.css"></head>
</head>
<body>
    <%- include('partials/navigation')%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Mostrar mensaje de éxito si está presente -->
    <% if (typeof successMessage !== 'undefined') { %>
        <div class="alert alert-info" role="alert">
            <%= successMessage %>
        </div>
    <% } %>
    <div class="form-card1">
        <div class="form-card2">
            <form id="memberForm" class="form" action="/agregarmiembros/<%= tableName %>" method="post">
                <!-- Elimina el campo oculto y agrega tableName directamente en la acción del formulario -->
                <div class="form-field">
                    <input class="input-field" type="text" name="username" placeholder="Username" required="">
                </div>
                <div class="form-field">
                    <input class="input-field" type="password" name="password" placeholder="Password" required="">
                </div>
                <button type="submit" class="sendMessage-btn">Agregar miembro</button>
                <a href="/login" class="sendMessage-btn">Finalizar</a>
            </form>
        </div>
    </div>
       
    
    
    
        
</body>
</html>