<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type ="text/css" href="../css/style.css"></head>
</head>
<body>
    <%- include('partials/navigation')%>
    <section class='wrapper'>
        <h1>Añade miembros a tu familia</h1>
        <h1 class='h1--scalingSize' data-text='An awesome title'>An awesome title</h1>
</section>
</body>
</html>