<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type ="text/css" href="../css/style.css"></head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
    <%- include('partials/navigation')%>
    <h1><span class="text">DIGITAL FAMILY</span></h1>
    <br><br><br><br><br><br><br><br>
    <a href="/registro" class="Btn">Registra tu familia</a>
    <br><br><br><br><br>
    <form action="/login" method="get">
        <div class="box-input">
            <div class="border">
              <input type="text" name="tableName" class="input" placeholder="Código de familia" required>
            </div>
          </div>
          <br>
          <br>
        <button type="submit" class="Btn">Iniciar Sesión</button>
    </form>
</body>
</html>