<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type ="text/css" href="../css/style.css"></head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
    <%- include('partials/navigation')%>
    <h1><span class="text">DIGITAL FAMILY</span></h1>
    <br>
    <br>
    <a  href="/registro" class="Btn">Registra tu familia</a>
    <br>
    <br>
    <a  href="/login" class="Btn">Inicio de sesión</a>
    <br>
    <br>
    <a  href="/agregarmiembros" class="Btn">Añadir familiares</a>
</body>
</html>