<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type ="text/css" href="../css/style.css"></head>
</head>
<body>
    <%- include('partials/navigation')%>
    <br>
    
    <h3><span class="text2">Bienvenida familia:  <%= familyname %></span></h3>
    
    <!-- Agregar un botón para dirigirse a la página para agregar miembros -->
    <a href="/agregarmiembros/<%= tableName %>" class="Btn">Agregar familiares</a>
    
    
</body>
</html> 