<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type ="text/css" href="../css/style.css"></head>
</head>
<body>
    <%- include('partials/navigation')%>
    <br><br><br><br><br><br><br><br><br><br><br><br>
        
    <div class="form-card1">
        <div class="form-card2">
            <form class="form" action="/homeFamilia" method="post">
                <p class="form-heading">REGISTRO</p>
                <div class="form-field">
                    <input class="input-field" type="text" name="username" placeholder="Username" required="">
                </div>
                <div class="form-field">
                    <input class="input-field" type="email" name="email" placeholder="email">
                </div>
                <div class="form-field">
                    <input class="input-field" type="password" name="password" placeholder="Password" required="">
                </div>
                <div class="form-field">
                    <input class="input-field" type="text" name="familyname" placeholder="Familyname" required="">
                </div>
                <button class="sendMessage-btn">ENVIAR</button>
                
            </form>
        </div>
    </div>
            
            <% if (typeof successMessage !== 'undefined') { %>
                <div class="alert alert-info" role="alert">
                    <%= successMessage %>
                </div>
            <% } %>
            <% if (typeof errorMessage !== 'undefined') { %>
                <div class="alert-danger" role="alert">
                    <%= errorMessage %>
                </div>
            <% } %>
</body>
</html>