<header>
  <ul class="main__menu">
    <li class="list-item">
      <a href="/" class="home item--js">
        <span>Inicio</span>
        <img src="../../imagenes/Pink Christmas Gingerbread house.svg" alt="">
      </a>
    </li>
    <li class="list-item">
      <a href="/homeFamilia" class="homeFamilia item--js">
        <span>Mi Familia</span>
        <img src="../../imagenes/family2.svg" alt="">
      </a>
    </li>
    <li class="list-item">
      <a href="/chat" class="chat item--js">
        <span>Mensajes</span>
        <img src="../../imagenes/mensaje.svg" alt="">
      </a>
      
    </li>
    <li class="list-item">
      <a href="/diario" class="diario item--js">
        <span>Diario</span>
        <img src="../../imagenes/diary.svg" alt="">
        
      </a>
      
    </li>
    <li class="list-item">
      <a href="/calendario" class="Calendario item--js">
        <span>Calendario</span>
        <img src="../../imagenes/calendar.svg" alt="">
      </a>
    <li class="list-item">
      <a href="/animo" class="animo item--js">
        <span>Ánimo</span>
        <img src="../../imagenes/smiley.svg" alt="">
      </a>
    </li>
    <li class="list-item">
      <a href="/tareas" class="tareas item--js">
        <span>Tareas</span>
        <img src="../../imagenes/check.svg" alt="">
      </a>
    </li>
    <li class="list-item">
      <a href="/logros" class="logros item--js">
        <span>Logros</span>
        <img src="../../imagenes/award.svg" alt="">
      </a>
    </li>
  </ul>
</header>